---
title: Redis Enterprise for VMware Tanzu
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
     .note.info {
         background-color: #ddd;
         border-color: #dbb
     }
</style>


Redis Enterprise clusters are enterprise-grade, highly available, and scalable Redis clusters with substantially lower operational overhead than any other Redis deployment method.

Redis Enterprise extends open source Redis and delivers tangible benefits of stable high performance, zero-downtime linear scaling, and hassle-free, true high availability, with significant operational savings.

This documentation describes Redis Enterprise for VMware Tanzu. Redis Enterprise for VMware Tanzu exposes its service plans on the Marketplace. Developers can provision highly available and scalable Redis databases by creating instances of the service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).


## <a id='overview'></a> Overview

Redis Enterprise is an enterprise-grade cluster that acts as a container for managing and running multiple Redis databases in a highly available and scalable manner.

By default, a three-node Redis Enterprise cluster is deployed for you.

For specific information about Redis Enterprise, and to get started, see the [Redis Enterprise documentation](https://docs.redis.com/latest/rs/).


## <a id="snapshot"></a> Product Snapshot

The following table provides version and version-support information about Redis Enterprise for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>6.4.2103000001</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 5, 2023</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Redis Enterprise v6.4.2-103</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.10.x</td>
        <td>v3.0.x</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Application Service for VMs</td>
        <td>v2.11.x, v.2.13.x, v3.0.x and v4.0.x</td>
    </tr>
    <tr>
        <td>BOSH stemcell version</td>
        <td>Ubuntu Xenial 621</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, and vSphere</td>
    </tr>
</table>


## <a id="reqs"></a> Requirements

Redis Enterprise for VMware Tanzu requires a valid license from Redis for the Redis Enterprise cluster.
Otherwise, you receive a thirty-day trial license by default.


## <a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to the [VMware Tanzu Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@redislabs.com.


## <a id='license'></a> License

Customers interested in using Redis Enterprise for VMware Tanzu can download the tile and install it with the trial license limitations. To obtain a production license and 24/7 support, contact a [Redis sales representative](mailto:sales@redislabs.com).
