---
title: Redis Enterprise Pack for PCF
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

Redis<sup>e</sup> Pack clusters are enterprise grade, highly available and scalable Redis clusters with substantially lower operational overhead than any other Redis deployment method.

Redis<sup>e</sup> Pack extends open source Redis and delivers tangible benefits of stable high performance, zero-downtime linear scaling and hassle-free true high availability, with significant operational savings.

This documentation describes Redis<sup>e</sup> Pack for Pivotal Cloud Foundry (PCF).
Redis<sup>e</sup> Pack for PCF exposes its service plans on the Marketplace.
Developers can provision highly available and scalable Redis databases by creating instances of the service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

## <a id='overview'></a>Overview

Redis<sup>e</sup> Pack is an enterprise-grade cluster that acts as a container for managing and running multiple Redis databases in a highly available and scalable manner.

The Redis<sup>e</sup> Pack Service Broker exposes four service plans on the Marketplace. The service plans correspond to the following preconfigured database plans:

* Simple Redis database: a single master shard.
* Highly-available Redis database: master/slave shards or master/multi-slave shards.
* Redis clustered database: multiple master shards.
* Highly-available Redis clustered database: multiple master shards each with its own slave shard, or multiple master/multi-slave shards.

For more specific information and a Getting Started, see the [Redis<sup>e</sup> Pack documentation](https://redislabs.com/redis-enterprise-documentation/overview/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Redis<sup>e</sup> Pack for Pivotal Cloud Foundry (PCF).

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.6.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 5, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Redis<sup>e</sup> Pack v4.4</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.4.x, v1.5.x, v1.6.x, v1.7.x, v1.8.x, v1.9.x, v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Redis<sup>e</sup> Pack Service for Pivotal Cloud Foundry requires a valid license from Redis Labs for the Redis<sup>e</sup> Pack cluster. Otherwise you receive a 30 day trial license by default.

## <a id="limitations"></a>Limitations

At this time, Redis<sup>e</sup> Pack Service for Pivotal Cloud Foundry is limited to one cluster per deployment.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@redislabs.com.

## <a id='release-notes'></a>Release Notes

Please see the release notes in the left nav for more information.

## <a id='license'></a>License

Customers interested in using Redis<sup>e</sup> Pack can download and install it from [Redis Labs](https://redislabs.com/redis-enterprise) under the trial license limitations. To obtain a production license and support, contact a Redis Labs sales representative at sales@redislabs.com.
