---
title: Redis Enterprise for PCF
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
     .note.info {
         background-color: #ddd;
         border-color: #dbb
     }
</style>


Redis Enterprise clusters are enterprise-grade, highly available, and scalable Redis clusters with substantially lower operational overhead than any other Redis deployment method.

Redis Enterprise extends open source Redis and delivers tangible benefits of stable high performance, zero-downtime linear scaling, and hassle-free, true high availability, with significant operational savings.

This documentation describes Redis Enterprise for Pivotal Cloud Foundry (PCF).
Redis Enterprise for PCF exposes its service plans on the Marketplace.
Developers can provision highly available and scalable Redis databases by creating instances of the service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

## <a id='overview'></a>Overview

Redis Enterprise is an enterprise-grade cluster that acts as a container for managing and running multiple Redis databases in a highly available and scalable manner.

By default, a three-node Redis Enterprise cluster is deployed for you.

For specific information about Redis Enterprise, and to get started, see the [Redis Enterprise documentation](https://redislabs.com/redis-enterprise-documentation/overview/).

## <a id="snapshot"></a>Product Snapshot

<p class='note'><strong>Note:</strong> As of PCF v2.0, Elastic Runtime is renamed Pivotal Application Service (PAS).</p>

The following table provides version and version-support information about Redis Enterprise for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v5.2.21800135</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Aug 31, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Redis Enterprise v5.2.2</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.0.x, v2.1.x, v2.2.x and v2.3.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service</td>
        <td>v2.0.x, v2.1.x, v2.2.x and v2.3.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, and vSphere</td>
    </tr>
</table>
\* As of PCF v2.0, <em>Elastic Runtime</em> is renamed <em>Pivotal Application Service (PAS)</em>. 


<p class="note info">Note: The versioning for this tile has changed from v0.0.84 to v5.X.X to match the official Redis Enterprise pattern.</p>

## <a id="reqs"></a>Requirements

Redis Enterprise for Pivotal Cloud Foundry requires a valid license from Redis Labs for the Redis Enterprise cluster.
Otherwise, you receive a thirty-day trial license by default.

## <a id="limitations"></a>Limitations

At this time, Redis Enterprise for Pivotal Cloud Foundry is limited to one cluster per deployment.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@redislabs.com.

## <a id='license'></a>License

Customers interested in using Redis Enterprise for PCF can download the tile and install it with the trial license limitations. To obtain a production license and 24/7 support, please contact a [Redis Labs sales representative](mailto:sales@redislabs.com).
