---
title: Redis Enterprise Pack for PCF
owner: Partners
---
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
     .note.info {
         background-color: #ddd;
         border-color: #dbb
     }
</style>


<p class="note warning"><strong>WARNING:</strong> Redis Enterprise Pack for PCF v5.0.x Beta is not intended for production use.
   For production use, Redis Labs recommends Redis Enterprise Pack for PCF v0.0.81.</p>

Redis Enterprise Pack clusters are enterprise grade, highly available and scalable Redis clusters with substantially lower operational overhead than any other Redis deployment method.

Redis Enterprise Pack extends open source Redis and delivers tangible benefits of stable high performance, zero-downtime linear scaling and hassle-free true high availability, with significant operational savings.

This documentation describes Redis Enterprise Pack for Pivotal Cloud Foundry (PCF).
Redis Enterprise Pack for PCF exposes its service plans on the Marketplace.
Developers can provision highly available and scalable Redis databases by creating instances of the service plans using Apps Manager or the Cloud Foundry Command Line Interface (cf CLI).

## <a id='overview'></a>Overview

Redis Enterprise Pack is an enterprise-grade cluster that acts as a container for managing and running multiple Redis databases in a highly available and scalable manner.

By default, a three-node Redis Enterprise Pack cluster is deployed for you.

For specific information about Redis Enterprise Pack, and to get started, see the [Redis Enterprise Pack documentation](https://redislabs.com/redis-enterprise-documentation/overview/).

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Redis Enterprise Pack for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v5.0.1180018</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 5, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Redis Enterprise Pack v5.0.1</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x, v1.11.x, and v1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10.x, v1.11.x, and v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, and vSphere</td>
    </tr>
</table>

<p class="note info">Note: The versioning for this tile has changed from v0.0.84 to v5.0.X to match the official Redis Enterprise Pack pattern.</p>

## <a id="reqs"></a>Requirements

Redis Enterprise Pack for Pivotal Cloud Foundry requires a valid license from Redis Labs for the Redis Enterprise Pack cluster.
Otherwise you receive a 30-day trial license by default.

## <a id="limitations"></a>Limitations

At this time, Redis Enterprise Pack for Pivotal Cloud Foundry is limited to one cluster per deployment.

## <a id="feedback"></a>Feedback

Please provide any bugs, feature requests, or questions to the [Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list or send an email to support@redislabs.com.

## <a id='license'></a>License

Customers interested in using Redis Enterprise Pack for PCF can download the tile and install it with the trial license limitations. To obtain a production license and world class 24/7 support, please contact a [Redis Labs sales representative](mailto:sales@redislabs.com).
