---
title: Installing and Configuring Redis Enterprise Pack for PCF
owner: Partners
---

This topic describes how to install and configure Redis<sup>e</sup> Pack for Pivotal Cloud Foundry (PCF).

##<a id='install'></a> Install and Configure Redis<sup>e</sup> Pack for PCF

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/redis-labs-enterprise-cluster-for-pcf-service-broker).
1. Upload the product file on the Ops Manager Installation Dashboard by clicking on **Import a Product**.
1. Click **+** next to the uploaded Redis Enterprise Pack Service Broker in the Ops Manager **Available Products** view to add it to your staging area.<br />
![Import button](./images/pcf_import_plus.png)
1. Click the newly added tile.<br /> ![Import button](./images/pcf_pre-install_tile.png)
1. From the **Settings** tab, click **Redis<sup>e</sup> Pack** and complete the following fields:
    * **Redis<sup>e</sup> Pack admin account username**: Enter the email address you used to create the Redis<sup>e</sup> Pack cluster.
    * **Redis<sup>e</sup> Pack admin account password**: Enter the password you used to create the Redis<sup>e</sup> Pack cluster.
    * **Redis<sup>e</sup> Pack address**: Enter the Cluster Name (FQDN) of the RP cluster as you provided it when you created the cluster, in the following format: `https://YOUR-CLUSTER-NAME:9443`.

    ![Import button](./images/pcf_rp_config_full_screen.png)
1. Click **Save**.
1. Return to the Ops Manager by clicking on **Installation Dashboard**<br />![Import button](./images/pcf_post-config-click.png)
1. Click **Apply Changes** to install the Redis<sup>e</sup> Pack Service Broker.<br />![Import button](./images/post-install-dashboard.png)
1. Ops Manager will run through its process to install everything for you.
1. Once Ops Manager completes the install, navigate to rpadmin.YOURAPPSDOMAIN to access the DB management GUI.
    1. Login with the username and password you created in ops manager
    1. If you have a license file from Redis Labs, you can apply it in the Settings window.
1. To have full HA, you must setup an NS record in your local DNS to point to the Redis<sup>e</sup> cluster with the Cluster Name FQDN you setup in the previous step.
    * Details on how to do this can be found [here](https://redislabs.com/redis-enterprise-documentation/initial-setup-creating-a-new-cluster/how-to-set-the-cluster-name-fqdn/)
    * The IP Addresses that you'll use to do this can be found in the RPAdmin UI or from the tile's resource config. 


For more information about Redis<sup>e</sup> Pack in general, please [see their documentation site](https://redislabs.com/redis-enterprise-documentation/overview/)