---
title: Redis Enterprise Modules on VMware Tanzu
owner: Partners
---

This topic describes how to use Redis Enterprise Modules on VMware Tanzu.

## <a id='modules-topic-1'></a> Redis Enterprise Modules Overview

Redis Enterprise Modules reduces the need to maintain a specialty database for each application use case by offering a separate, dedicated, and optimized engine for each data model.
Trusted, tested, and verified to work with Redis Enterprise, these modules include:
<br>**[RedisGraph](https://oss.redislabs.com/redisgraph/)**
<br>**[RedisJSON](https://oss.redislabs.com/redisjson/)**
<br>**[RedisTimeSeries](https://oss.redislabs.com/redistimeseries/)**
<br>**[RedisBloom](https://oss.redislabs.com/redisbloom/)**
<br>**[RediSearch](https://oss.redislabs.com/redisearch/)**

For more information please refer to the [Redis Enterprise Modules page](https://redislabs.com/redis-enterprise/modules/) on the [Redis Labs](https://redislabs.com/) Website.

## <a id='modules-topic-2'></a> Creating a Redis Enterprise Module Enabled Database instance via VMware Tanzu Apps Manager CLI

1. Perform 'cf login' to your foundation.

1. Run the command ``# cf create-service redislabs [SERVICE PLAN] [SERVICE INSTANCE] -c [PARAMETERS_AS_JSON]`` <br>where:
<br>*redislabs* is the default service name (in a Redis Enterprise Tile Manager multi-tile environment, please run ``# cf marketplace`` to determine the service name)
<br>SERVICE PLAN uses one of the available Redis Enterprise service plans
<br>SERVICE INSTANCE is the new service instance name
<br>PARAMETERS_AS_JSON are the modules list to be loaded

1. Consult the list of available modules and their module ids for the Redis Enterprise version installed on your foundation.<br>
This can be achieved by having an operator run ``curl -L -v -k GET https://localhost:9443/v1/modules -u "[CLUSTER ADMIN USERNAME]:[CLUSTER ADMIN PASSWORD]" -H "Content-Type: application/json"`` on one of the Redis Enteprise nodes.
<br>See the [appendix](modules.html#appendix-module-list) below for the list of module ids and their default arguments for release 5.4.102200007 (released for VMware Tanzu 2.7)<br>
<br>For example, to create a `small-redis` plan database with the RedisBloom module:<br> ```cf create-service redislabs small-redis RedisBloom -c '                                                                    {
"module_list":[{"module_id":"0bea0987204293b26c877698e29dcdf3","module_args":""}]}'```
<br>```Creating service instance RedisBloom in org RedisLabs / space RL Space 1 as admin...
OK```
<p>Available service plans are listed in response to ``cf services`` or listed in either the tile's Ops Manager configuration, under Settings->Service Plans or in the Apps  Manager -> Marketplace screen:</p>

![Import button](./images/pcf_ops_service_plan.png)

![Import button](./images/pcf_apps_service_plans.png)

## <a id='modules-topic-3'></a> Creating a Redis Enterprise Module Enabled Database instance via VMware Tanzu Apps Manager UI


1. From VMware Tanzu Apps Manager go to Marketplace and select Redis Enterprise on VMware Tanzu.<br />![Import button](./images/pcf_apps_marketplace.png)
1. Select a plan from the available plans listed and click "Select This Plan"<br />![Import button](./images/pcf_apps_service_plan.png)
1. Select the "Add Parameter" option and turn on the "Enter as JSON" option. Enter the module list information in the same way as with the CLI option.
1. Write an instance name and optionally choose to bind to a deployed app then click "Create".<br />![Import button](./images/pcf_apps_config_create_bf.png)<br />![Import button](./images/pcf_ops_service_plan_created_bf.png)

## <a id='appendix-module-list'></a> Appendix: Module list for 6.0.206900001 (released for VMware Tanzu 2.11)

```json
[
    {
        "author": "Redis Labs",
        "capabilities": [
            "types",
            "no_multi_key",
            "replica_of",
            "eviction_expiry",
            "failover_migrate",
            "flash",
            "backup_restore",
            "reshard_rebalance",
            "persistence_aof",
            "persistence_rdb",
            "hash_policy",
            "clustering"
        ],
        "command_line_args": "",
        "config_command": "",
        "dependencies": {},
        "description": "Native JSON Data Type for Redis",
        "display_name": "RedisJSON",
        "email": "redismodules@redislabs.com",
        "homepage": "http://redisjson.io",
        "is_bundled": true,
        "license": "Redis Source Available License Agreement",
        "min_redis_pack_version": "5.0",
        "min_redis_version": "4.0",
        "module_name": "ReJSON",
        "semantic_version": "1.0.7",
        "sha256": "48409b10611c65b35392ca079f1924d4e59867e6dd32217c554fbf69bcb6d99f",
        "uid": "3bf0fbcb6444a95f026ffebf794180cc",
        "version": 10007
    },
    {
        "author": "RedisLabs",
        "capabilities": [
            "types",
            "replica_of",
            "failover_migrate",
            "persistence_aof",
            "persistence_rdb",
            "clustering",
            "backup_restore",
            "reshard_rebalance",
            "flash",
            "crdb",
            "eviction_expiry",
            "hash_policy"
        ],
        "command_line_args": "PARTITIONS AUTO",
        "config_command": "_FT.CONFIG SET",
        "dependencies": {},
        "description": "High performance search index on top of Redis (with clustering)",
        "display_name": "RediSearch 2",
        "email": "meir@redislabs.com",
        "homepage": "http://redisearch.io",
        "is_bundled": true,
        "license": "Redis Source Available License Agreement",
        "min_redis_pack_version": "6.0.8",
        "min_redis_version": "6.0",
        "module_name": "search",
        "semantic_version": "2.0.6",
        "sha256": "3d13dc1ed57f5be10acbe3b971ef720e9ba8f0da7ed10dd34559e0d7e85d4a09",
        "uid": "737bf664f5f59396f64db3afadd111ff",
        "version": 20006
    },
    {
        "author": "RedisLabs",
        "capabilities": [
            "types",
            "failover_migrate",
            "persistence_rdb",
            "persistence_aof",
            "clustering",
            "replica_of",
            "backup_restore",
            "no_multi_key",
            "intershard_tls"
        ],
        "command_line_args": "",
        "config_command": "GRAPH.CONFIG",
        "dependencies": {},
        "description": "A graph database on top of Redis which supports Open-Cypher query language.",
        "display_name": "RedisGraph",
        "email": "roi@redislabs.com",
        "homepage": "http://redisgraph.io",
        "is_bundled": true,
        "license": "Redis Source Available License Agreement",
        "min_redis_pack_version": "6.0.8",
        "min_redis_version": "5.0.7",
        "module_name": "graph",
        "semantic_version": "2.2.14",
        "sha256": "cce012bf94193f7c906ea42a17e6522abda6c4fe427c6e6fb78ed341a52ccc87",
        "uid": "3ee71e4396673b0b0de6043044316a79",
        "version": 20214
    },
    {
        "author": "RedisLabs",
        "capabilities": [
            "types",
            "replica_of",
            "backup_restore",
            "hash_policy",
            "eviction_expiry",
            "failover_migrate",
            "persistence_aof",
            "persistence_rdb",
            "hash_policy",
            "clustering",
            "reshard_rebalance"
        ],
        "command_line_args": "",
        "config_command": "",
        "dependencies": {},
        "description": "Time-Series data structure for redis",
        "display_name": "RedisTimeSeries",
        "email": "danni@redislabs.com",
        "homepage": "https://oss.redislabs.com/redistimeseries/",
        "is_bundled": true,
        "license": "Redis Source Available License Agreement",
        "min_redis_pack_version": "6.0.12",
        "min_redis_version": "5.0",
        "module_name": "timeseries",
        "semantic_version": "1.4.8",
        "sha256": "70b829798bad773ad7521942e72cc119006d670767a9b10ae43169340b4259c4",
        "uid": "db0925a9d032ce983bbc83557b4f5a04",
        "version": 10408
    },
    {
        "author": "Redis Labs",
        "capabilities": [
            "types",
            "no_multi_key",
            "replica_of",
            "eviction_expiry",
            "failover_migrate",
            "backup_restore",
            "reshard_rebalance",
            "persistence_aof",
            "persistence_rdb",
            "hash_policy",
            "clustering"
        ],
        "command_line_args": "",
        "config_command": "",
        "dependencies": {},
        "description": "Bloom Filter Module for Redis",
        "display_name": "RedisBloom",
        "email": "redismodules@redislabs.com",
        "homepage": "http://redisbloom.io",
        "is_bundled": true,
        "license": "Redis Source Available License Agreement",
        "min_redis_pack_version": "5.0",
        "min_redis_version": "4.0",
        "module_name": "bf",
        "semantic_version": "2.2.4",
        "sha256": "b3999669cdaf65e153e6ce584af3a5eee0fbe67cc74596c70b0d988b54c09a37",
        "uid": "e36181c0ac30e9fc93e7b8aacf82a440",
        "version": 20204
    }
]
```

For more information about Redis Enterprise Modules for VMware Tanzu, see the [Redis Enterprise Module documentation](https://docs.redislabs.com/latest/modules/).
