---
title: Redis Labs Enterprise for PCF Release Notes
owner: Partners
---


These are release notes for Redis Labs Enterprise for PCF.

##<a id="ver"></a> v1.0.1

**Release Date:** May 1, 2017

Initial release of this tile.
