---
title: Redis Enterprise Pack for PCF Release Notes
owner: Partners
---

These are release notes for Redis<sup>e</sup> Pack for PCF.

##<a id="ver"></a> v1.6.4

**Release Date:** June 5, 2017

Initial release of this tile.
