---
title: Redis Enterprise for PCF Release Notes
owner: Partners
---

These are release notes for Redis Enterprise for PCF.

## <a id="ver"></a> v5.4.40700169

**Release Date:** Jul 15, 2019

This release supercedes v5.4.22700167 to include new features and bug fixes.

### New Features
- Support for Redis Enterpirse Cluster 5.4.4-7
- Support for PCF 2.6
- Support for BOSH DNS
- Changing PCF tile Resource Config defaults to include minimum persistent storage requirements

### Known Limitations
- Smoke Test Errand fails, applying changes in Ops Manager after deploying tile in Recovery mode.
  - Workaround: Disable the Smoke Test Errand before applying changes to the tile in Recovery Mode. After the last recovery step (unchecking the Recovery checkbox), apply changes with Smoke Test Errand, which will now run.


## <a id="ver"></a> v5.4.22700167

**Release Date:** Jun 27, 2019

This release supercedes v5.4.22000164 to include new features and bug fixes.

### New Features
- Support for Redis Enterpirse Cluster 5.4.2-24
- Support for PCF 2.5

### Fixed
- Redis tile drain script does not complete during BOSH deploy
- TCP Router port limits are applied when TCP Router is disabled


## <a id="ver"></a> v5.4.22000164

**Release Date:** May 16, 2019

This release supercedes v5.4.22000155 to include new features and bug fixes.

### New Features
- Tile is based on Redis Enterprise release v5.4.2-20. [5.4.2 Release Notes](https://docs.redislabs.com/latest/rs/release-notes/rs-5-4-2-april-2019/).
- Security enhancement - The DB Viewer and Cluster Viewer roles cannot view the Redis password of a database
- Update Xenial stemcells to release 250
- Updated Redis Labs logo

### Fixed
- Loggregator prevents nginx from starting after node restart


## <a id="ver"></a> 5.4.2600155

**Release Date:** March 12, 2019

This release supercedes 5.4.2400147 to include new features bug fixes.

### New Features
- Support for Pivotal Cloud Foundary Loggerator integration
- Tile is based on Redis Enterprise release v5.4.0-26

### Fixed
- Failed to disable client authentication after upgrade


## <a id="ver"></a> 5.4.2400147

**Release Date:** February 11, 2019

This release supercedes 5.4.2400142 to include bug fixes.

### Fixed
- Required binaries are now included in BOSH tile, for air-gapped deployments


## <a id="ver"></a> 5.4.2400142

**Release Date:** January 30, 2019

### New Features
- Added PCF v2.4 Support
- Updated stemcell to Ubuntu Xenial
- TLS client authentication is now optional when enabling TLS for database communications
- Tile based on Redis-Enterprise v5.4.0
- For more information, see [Redis Enterprise Release Notes](https://docs.redislabs.com/latest/rs/release-notes/rs-5-4-december-2018/).


## <a id="ver"></a> 5.2.21800135

**Release Date:** August 31, 2018

### New Features
- Added PCF v2.3 Support, as of November 2, 2018
- PCF v2.2 Support
- Tile based on Redis-Enterprise v5.2.2
- For more information, see [Redis Enterprise Release Notes](https://redislabs.com/redis-enterprise-documentation/release-notes/).

### Fixed
- Added the ability to configure both the API Certificate and Proxy Certificate information using the Ops Manager config panel.
- Both console and API fields in Ops Manager are set by default to non-FQDN values.


## <a id="ver"></a> 5.2.1400130

**Release Date:** June 21, 2018

### New Features
- PCF v2.1 Support
- Backup to FTP / S3
- Tile based on Redis-Enterprise v5.2
- For more information, see [Redis Enterprise Release Notes](https://redislabs.com/redis-enterprise-documentation/release-notes/).


## <a id="ver"></a> 5.0.13000036

**Release Date:** April 30, 2018

### New Features
- Stemcell 3541.5 support

### Fixed
- Operability between DNS sub-systems.


## <a id="ver"></a> 5.0.13000030

**Release Date:** March 5, 2018

### New Features

- PCF v2.0.x Support
- Added smoke-test errand
- Tile based on Redis-Enterprise v5.0.1-30
- Stemcell 3541.5 support

### Improvements
- Using new Tile Generator v11
- Using final BOSH releases in Tile

### Fixed
- Offline install capability
- Issue related to default Syslog integration option


## <a id="ver"></a> 5.0.1180018 (BETA)

**Release Date:** February 5, 2018

### New Features

- Built and tested new tile with PCF v1.12.12 (ERT and Ops Manager)
- Updated Redislabs enterprise cluster version to v5.0.1-17
- Upgrade support in Redis Enterprise tile
- Syslog integration


## <a id="ver"></a> 5.0.1100012 (BETA)

**Release Date:** January 21, 2018

### New Features

**Geo-Distributed Active-Active Conflict-free Replicated Databases (CRDB) Across Multiple PCF Foundations**
Developing globally distributed applications can be challenging. Developers have to think about race conditions and complex combinations of events under geo-failovers and cross-region write conflicts. CRDBs simplify developing such applications by directly using built-in smarts for handling conflicting writes based on the data type in use. Instead of depending on just simplistic "last-writer-wins" type conflict resolution, geo-distributed CRDBs combines techniques defined in CRDT (conflict-free replicated data types) research with Redis types to provide smart and automatic conflict resolution based on the data type's intent. This also includes support for TCP Routers.

For information, see [Developing with CRDBs](https://www.redislabs.com/redis-enterprise-documentation/developing/crdbs/").

- PCF CRDB Integration using PCF TCP Router 16720, 16721
- CRDB Support without DNS (doc item #6) and 16711
- Tile uses PCF system domain to deploy tile 16045


## <a id="ver"></a> v5.0.0 (BETA)

**Release Date:** December 6, 2017

### New Features

**Support for Redis Cluster API**<br>
The Redis Cluster API support in Redis Enterprise provides a simple mechanism for Cluster-enabled Redis clients to learn and know the cluster topology. This enables clients to connect directly to an RP proxy on the node hosting the master shard for the data being operated on. As a result, all but the initial call to get the cluster topology or reacquire the location of the master shard, and the client will connect to the RP endpoint proxy where the master shard is located. <a href="https://www.redislabs.com/redis-enterprise-documentation/concepts-architecture/data-access/cluster-api/">Learn more about the Cluster API implementation</a>.

**Redis Modules**<br>
Redis Modules enable you to extend the functionality of Redis Enterprise Pack. You can add new data types, capabilities, and more to tailor the cluster to a specific use case or need. Once installed, modules benefit from the high performance, scalability, and high availability that Redis Enterprise is known for.

**Redis Labs' Modules**

There are three modules Redis Labs has developed and certified with Redis Enterprise Pack. The modules are:

* [RediSearch](https://www.redislabs.com/redis-enterprise-documentation/developing/modules/redisearch/) - This module turns Redis Enterprise into a supercharged, distributed, in-memory, full-text indexing and search beast.
* [ReJSON](https://www.redislabs.com/redis-enterprise-documentation/developing/modules/rejson/) - Now you have the convenience of JSON as a built-in data type and can address nested data via a path easily.
* [ReBloom](https://www.redislabs.com/redis-enterprise-documentation/developing/modules/bloom-filters/) - Enables Redis Enterprise to have a scalable bloom filter as a data type. Bloom filters are probabilistic data structures that quickly determine if something is contained within a set.


**Custom Modules**

In addition, Redis Enterprise provides the ability to load and use custom modules from [redismodules.com](http://redismodules.com/) or of your own creation.

**LDAP Integration**

As part of our continued emphasis on security, administrative user accounts in Redis Enterprise can now either use built-in authentication or authenticate externally via LDAP with saslauthd. The accounts can be used for administering resources on the cluster through the command line, Rest API, or Web UI.

For more information, see [LDAP Integration](https://www.redislabs.com/redis-enterprise-documentation/administering/security/ldap-integration/).

**Additional Capabilities**

Support for additional Redis commands and features:

* Support for Redis v4.0.2

**Information**

* In the node bootstrap API, the structure of the JSON has changed for adding an external IP during the bootstrap process.


## <a id="ver"></a> v0.0.84

**Release Date:** December 1, 2017

Beta version of this tile with Support for Redis v4.0.2.


## <a id="ver"></a> v0.0.81

**Release Date:** June 15, 2017

Initial release of this tile.
