---
title: Using Redis Enterprise Pack for PCF
owner: Partners
---

This topic describes how to use Redis<sup>e</sup> Pack for PCF.


## <a id='using'></a> Using Redis<sup>e</sup> Pack for PCF

### Installing a License Key in an Existing Cluster

1. Connect to the Redis<sup>e</sup> Pack Admin Console using the "**Cluster Name**" you previously specified at the following URL: `https://rpadmin.cluster-name`

1. Log in using the Administrator email account and password you specified in the tile configuration.

1. Navigate to the "**settings**" tab and then general. Paste the license key you received from Redis Labs into the "**Cluster key**" form field and click the "**Save**" button.

For more information about Redis<sup>e</sup> Pack in general, see [the product documentation site](https://redislabs.com/redis-enterprise-documentation/overview/).
